################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Learning.CSharp.Utilities/obj/Debug
/Learning.CSharp.Utilities/obj/Debug
